[submodule "submodules/perl-shared"]
	path = submodules/perl-shared
	url = https://github.com/perfsonar/perl-shared
[submodule "submodules/minor-packages"]
	path = submodules/minor-packages
	url = https://github.com/perfsonar/minor-packages
[submodule "submodules/bundles"]
	path = submodules/bundles
	url = https://github.com/perfsonar/bundles
[submodule "submodules/pscheduler"]
	path = submodules/pscheduler
	url = https://github.com/perfsonar/pscheduler
