Source: perfsonar-nagios
Section: misc
Priority: extra
Maintainer: Antoine Delvaux <antoine.delvaux@dante.net>
Build-Depends: debhelper (>= 9.0.0), quilt
Standards-Version: 3.9.3
Homepage: http://www.perfsonar.net
Vcs-Git: https://code.google.com/p/perfsonar-ps/
Vcs-Browser: https://code.google.com/p/perfsonar-ps/source/browse?repo=default

Package: perfsonar-nagios
Architecture: all
Depends: perl, libperfsonar-perl, libperfsonar-sls-perl, memcached,
 libcache-memcached-perl, libdata-validate-ip-perl, libjson-perl, libwww-perl,
 libmouse-perl, libnagios-plugin-perl, libparams-validate-perl,
 libstatistics-descriptive-perl, libxml-libxml-perl, ${misc:Depends}
Description: perfSONAR Nagios Plugins
 The perfSONAR_PS-Nagios Plugins can be used with Nagios to monitor
 the various perfSONAR services.
