Source: nagios-plugins-perfsonar
Section: perl
Priority: extra
Maintainer: Antoine Delvaux <adelvaux@man.poznan.pl>
Build-Depends: debhelper (>= 9.0.0), quilt
Standards-Version: 3.9.3
Homepage: http://www.perfsonar.net
Vcs-Git: https://code.google.com/p/perfsonar-ps/
Vcs-Browser: https://code.google.com/p/perfsonar-ps/source/browse?repo=default

Package: nagios-plugins-perfsonar
Architecture: all
Depends: perl, libperfsonar-servicechecks-perl, libperfsonar-perl,
 libperfsonar-sls-perl, libjson-perl, libnagios-plugin-perl,
 memcached, ${misc:Depends}
Description: perfSONAR Nagios Plugins
 The perfSONAR_PS-Nagios Plugins can be used with Nagios to monitor
 the various perfSONAR services.

Package: libperfsonar-servicechecks-perl
Architecture: all
Depends: perl, libperfsonar-perl, libcache-memcached-perl,
 libdata-validate-ip-perl, libwww-perl, libmouse-perl, libnagios-plugin-perl,
 libparams-validate-perl, libstatistics-descriptive-perl, libxml-libxml-perl,
 libperfsonar-esmond-perl, ${misc:Depends}
Description: perfSONAR ServiceChecks
 The perfSONAR_PS-ServiceChecks can be used for writing Nagios plugins to
 monitoring various perfSONAR services.
